@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image-1 {
  background-image: url("./assets/backgroundImage1.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  width: 100%; /* Full width of the viewport */
}
